<div class="container">
  <article class="press-clipping">
    <div class="image-container">
      <img src="../../assets/tfow.jpg" alt="">
    </div>
    <div class="text">
      <p class="quote">
        "He just sent me a demo and I love it, and he sent me a bunch more stuff and I think he's an incredibly talented songwriter. My pick for best of the year."
      </p>
      <p class="from"><i>
        - <a href="http://killrockstars.com/thefutureofwhat/episode-25-2015-in-review/">Portia Sabin (President of Kill Rock Stars) on "The Future Of What"</a>
      </i>

      </p>
    </div>

  </article>



  <article class="press-clipping">
    <div class="image-container">
      <img src="../../assets/indieshuffle.png" alt="">
    </div>
    <div class="text">
      <p class="quote">
        "The unassuming discordant progressions are pleasantly surprising and engaging. The vocals are silky and transparent, lending lovely tones and sing-along material. This track encapsulates the hay day of indie rock in its infancy."
      </p>
      <p class="from"><i>
        - <a href="https://www.indieshuffle.com/red-cabin-barricade/">Indie Shuffle</a>
      </i>

      </p>
    </div>

  </article>
  <article class="press-clipping">
    <div class="image-container">
      <img src="../../assets/obscuresound.jpg" alt="">
    </div>
    <div class="text">
      <p class="quote">
        "The gentle string plucking in the beginning resembles some sort of medieval music in its lush lyrical-driven introduction, progressing quickly to the chorus — where Foster’s impressive penchant for punchy hooks arises in the acoustical jangles and gleefully anthemic vocal delivery."
      </p>
      <p class="from"><i>
        - <a href="https://www.obscuresound.com/2015/06/red-cabin-patterns/">Obscure Sound</a>
      </i>

      </p>
    </div>
  </article>


  <article class="press-clipping">
    <div class="image-container">
      <img src="../../assets/powerpop.png" alt="">
    </div>
    <div class="text">
      <p class="quote">
        Red Cabin has tracks of dramatic pop with an ‘80s vibe in spots and some nice harmonies ... “Willow Tree” and “Falling Apart” are solid pop gems.</p>
      <p class="from"><i>
        - <a href="http://www.powerpopaholic.com/2016/10/freebies-and-ep-reviews-the-lunar-laugh-red-cabin-kai-danzberg-melanie-crew-and-david-myhr.html">Powerpopaholic</a>
      </i>

      </p>
    </div>

  </article>


  <article class="press-clipping">
    <div class="image-container">
      <img src="../../assets/bestindie.jpg" alt="">
    </div>
    <div class="text">
      <p class="quote">
        So what kind of tune is I Can't Wait?
        A home run. An ebullient rocker, fleshed out and given heft by hints of pathos. A song proceeded by the guitar being plugged into the amp in the best traditions of rock’n’roll, sparking thoughts of the The Manic Street Preacher's punk manifesto Motown Junk, I Can't Wait hits the ground running with full throated rhythm guitar, a propulsive beat and an urgent, impassioned vocal delivery that belies the singer's slight frame. Sweet harmonies in the refrain and jaunty keyboards ensure an effervescent contrast to the verses and thick musical textures.      <p class="from"><i>
        - <a href="http://thebestindiesongs.blogspot.com/2016/02/the-best-indie-songs-of-2016-red-cabin_7.html">The Best Indie Songs</a>
      </i>

      </p>
    </div>

  </article>




</div>

