<div class="container">
  <article class="press-clipping">
    <!--<div class="image-container">-->
      <!--<img src="../../assets/tfow.jpg" alt="">-->
    <!--</div>-->
      <p class="quote">
        Jonathan Foster is a singer/songwriter from NYC.
        He has had his music placed on network TV, commercials, video games and apps.

      </p>
    <p class="quote">
      He releases music under his two indie rock projects, <a href="https://redcabinmusic.bandcamp.com/">Red Cabin</a> and
      <a href="https://snowdaymusic.bandcamp.com/">Snowday</a>.

    </p>

  </article>
</div>
