<div class="container" id="anchor">
  <article class="press-clipping" style="background-size: cover;">
    <!--<div class="image-container">-->
      <!--<img src="../../assets/tfow.jpg" alt="">-->
    <!--</div>-->
      <p class="quote">
        Never Ending Tape is Jonathan Foster, a singer/songwriter from NYC.
        He has had his music placed on network TV, commercials, video games and apps.

      </p>
    <p class="quote">
      He writes and produces constantly, and releases music under his two indie rock projects, <a href="https://redcabinmusic.bandcamp.com/">Red Cabin</a> and
      <a href="https://snowdaymusic.bandcamp.com/">Snowday</a>.

    </p>
    <p class="quote">Let's work together!</p>
  <img src="/assets/jonlandscape.jpeg" alt="" style="width: 100%; border-radius: 2%; margin-top: 5%;">
  </article>
</div>
