.frame {
  display: block;
  margin: auto;
}

.center-p {
  text-align: center;
  background: gray;
  color: white;
  height: 40px;
  line-height: 40px;
  margin-top: 0px;
}

.iframe-container {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
