<div class="resize-handle"
     (click)="onCancelClick()">
  <div class="handle"></div>
</div>
  <!-- <div *ngIf="loadingAlbum">
    LOADING ALBUMS!!!!
  </div>
  <div *ngIf="!loadingAlbum">
    <p>Will contain data for {{ currentAlbum.name }}</p>

    <img [src]="currentAlbum.cover" width=400px>
    <div *ngFor="let song of currentAlbum.songs">
    <p>{{ song.title }}</p>
    <audio controls>
    <source [src]="song.link" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    </div>
  </div> -->



  <div id="static" style="background-color: black;">
    <h1 style="text-align: center; margin-bottom: 0px; color: white; margin-top: 30px;">{{ currentAlbum.name.split(" - ")[0] }}</h1>
    <h4 style="text-align: center; margin-bottom: none; margin-top: 10px; color: #ccc;">{{ currentAlbum.name.split(" - ")[1] }}</h4>
  </div>
  <div id="parent">
  <div class="iframe">
    <iframe style="border:none; background: lightslategray" id="album-player" src="http://www.net-album-player.com.s3-website-us-east-1.amazonaws.com/?index=3"></iframe>
  </div>
  </div>
