<router-outlet name="auth">
</router-outlet>
<div class="header" id="top">
  <ul class="title" style="float: left;">
    <li class="li-title" [routerLink]="''" fragment="top">Never Ending Tape</li>
  </ul>
  <ul class="nav">
    <li [routerLink]="'about'" routerLinkActive="selected-menu-item" fragment="anchor">About</li>
    <li [routerLink]="'music'" routerLinkActive="selected-menu-item"  fragment="anchor">Music</li>
    <li [routerLink]="'videos'" routerLinkActive="selected-menu-item" fragment="anchor">Videos</li>
    <li [routerLink]="'work'" routerLinkActive="selected-menu-item" fragment="anchor">Latest Work</li>
    <li [routerLink]="'contact'" routerLinkActive="selected-menu-item" fragment="anchor">Contact</li>

    <ng-template [ngIf]="!authService.isAuthenticated()">
      <li class="optional-li" [routerLink]="[{ outlets: { auth: 'login' } }]">Signup/Login</li>
    </ng-template>

    <ng-template [ngIf]="authService.isAuthenticated()">

      <li class="optional-li logged-in-li">
        <span class="logged-in-big">
          <span class="logged-in-name">
            {{ authService.currentUser.email }}
          </span>
          <span class="white-text" (click)="logout()" >
            (logout)
          </span>
        </span>

        <span class="logged-in-small">
          <span class="white-text" (click)="logout()" >
            Logout
          </span>
        </span>
      </li>
    </ng-template>
  </ul>
</div>
<div class="main-pic">
  <div class="veil">
    <div class="info">
      <h1 class="artist-name"><span class="my-name">Never Ending Tape</span></h1>
      <p>Music Composition/Production for TV and Film</p>
    </div>
  </div>
</div>
  <router-outlet></router-outlet>
  <footer class="social-footer">
    <div class="social-footer-left">
      <span class='footer-email'>e: info@neverendingtape.com p: 631-494-8627</span>
    </div>
    <div class="social-footer-icons">
      <ul class="menu simple">
        <li><a href="https://www.facebook.com/neverendingtape"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com/neverendingtape"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </footer>
