<div class="header">
  <ul class="title" style="float: left;">
    <li class="li-title">Never Ending Tape</li>
  </ul>
  <ul class="nav">

    <li [routerLink]="'about'" routerLinkActive="selected-menu-item">About</li>
    <li [routerLink]="'music'" routerLinkActive="selected-menu-item">Music</li>
    <li [routerLink]="'videos'" routerLinkActive="selected-menu-item">Videos</li>
    <!--<li [routerLink]="'credits'" routerLinkActive="selected-menu-item">Credits</li>-->
    <!--<li [routerLink]="'press'" routerLinkActive="selected-menu-item">Press</li>-->
    <li [routerLink]="'work'" routerLinkActive="selected-menu-item" fragment="latest-work">Latest Work</li>
    <li [routerLink]="'contact'" routerLinkActive="selected-menu-item" fragment="contact-me">Contact</li>
  </ul>

</div>
<div class="main-pic">
  <div class="veil">

    <div class="info">
      <!-- <img class="tape-pic" src="https://cdn.pixabay.com/photo/2014/03/25/16/54/tape-297596_1280.png" alt="Cassette Tape Black And White @clipartmax.com"> -->

      <h1 class="artist-name"><span class="my-name">Never Ending Tape</span></h1>
      <p>Music Composition/Production for TV and Film</p>
    </div>
  </div>
</div>
  <router-outlet></router-outlet>
