.header {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 30px;
  background-color: rgb(30, 30, 30);
}

.main-pic {
  margin-top: 30px;
  background: linear-gradient(
                     rgba(40,40,40, .4),
                     rgba(40,40,40, .4)),
                     url('/assets/jonlandscape.jpeg');
  height: 450px;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
}

.veil {
  margin-top: 275px;
  display: relative;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "proxima-nova",sans-serif;
  line-height: 1em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .02em;
  text-transform: uppercase;
  min-width: 865px;
}

.veil h1 {
  font-size: 2.5em;
}

.veil p {
  text-transform: none;
}


.title {
  font-size: .5em;
  margin-top: 30px;
  color: rgb (110,110, 110);
  text-align: center;
  text-transform: none;
}

.selected {
  color: rgb(20,20, 20);
  border-bottom: none;
  border-bottom: 5px solid rgb(195, 40, 40);
}

.title:hover {
  cursor: pointer;
  color: rgb(20,20, 20);
}
ul {
    float: right;
    color: white;
    list-style: none;
    margin-top: 8px;
}
li {
  display: inline;
  margin-right: 15px;
  text-transform: none;
}

.selected-menu-item {
  border-bottom: 5px solid rgb(195, 40, 40);
}
