
.auth-overlay {
  position: fixed;
  z-index:300;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  align-items: center;
  justify-content: center;
}


:host {
  display: flex;
  justify-content: center;
}

.mat-form-field {
  width: 100%;
  width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  position: relative;
}

.error {
  padding: 16px;
  width: 268px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.change-card {
  position:absolute;
  left: 0;
  margin-top: 10px;
  cursor: pointer;
  color: lightcoral;
  text-transform: none;
}

