<div class="auth-overlay">
  <mat-card>
    <mat-card-title>Forgot password?</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onForgotPassword(f)" (keydown.enter)="$event.preventDefault()" #f="ngForm">
        <p>
          <mat-form-field>
            <input type="email" id="email" name="email" ngModel matInput placeholder="Email" >
          </mat-form-field>
        </p>
        <p *ngIf="error" class="error">
          {{ error }}
        </p>
        <div class="button">
          <a (click)="goToSignup()" class="change-card">Need an account?</a><br>
          <a (click)="goToLogin()" class="change-card" style="margin-top: -10px;">Have an account?</a><br>
          <button (click)="close()" mat-button>Cancel</button>
          <button type="submit" mat-button>Reset</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>