@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html:not(i), body:not(i) {
  padding: 0px;
  margin: 0px;
  font-family: "proxima-nova",sans-serif;
  line-height: 1em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .02em;
  text-transform: uppercase;
  height:100%;
  display: flex;
  flex-direction: column;


}

*:focus {
  outline: none !important;
  /* box-shadow: none !important; */
}

app-root {
  background-color: lightgray !important;
}

/deep/ mat-input {
  background-color: #FF0000;    /* replace this color with your accent color hex code */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.grid > article img {
  max-width: 100%;
}
