/* You can add global styles to this file, and also import other style files */

html:not(i), body:not(i) {
  padding: 0px;
  margin: 0px;
  font-family: "proxima-nova",sans-serif;
  line-height: 1em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .02em;
  text-transform: uppercase;
  height:100%;


  display: flex;
  flex-direction: column;


}

