

.title {
  font-size: .5em;
  margin-top: 30px;
  color: rgb (110,110, 110);
  text-align: center;
  text-transform: none;
}

.selected {
  color: rgb(20,20, 20);
  border-bottom: none;
  border-bottom: 5px solid rgb(195, 40, 40);
}

.title:hover {
  cursor: pointer;
  color: rgb(20,20, 20);
}

a {
  text-decoration: none;
  color: black;
}
