<div class="music-selector" id="anchor">
  <div class="controls">
    <h2 class="title"><a href="#" [routerLink]="'fullsongs'" routerLinkActive="selected">Full Songs</a> | <a href="#" [routerLink]="'advertising'" routerLinkActive="selected">Ad Cues</a> | <a href="#" [routerLink]="'albums'" routerLinkActive="selected">Albums</a></h2>

  </div>

</div>

<!-- <div class="music-selector" style="background-color:#ccc;" id="anchor">
  <p style="color: white; margin-top: 0px;">Filters</p>

</div> -->

<router-outlet></router-outlet>


<div class="picture">
  <h3>Full Songs</h3>
</div>
