<div class="music-selector" id="anchor">
  <div class="controls">
    <h2 class="title">
      <a href="#" [routerLink]="'albums'" routerLinkActive="selected">Albums</a> |
      <a href="#" [routerLink]="'compilations'" routerLinkActive="selected">Compilations</a> |
      <a href="#" [routerLink]="'new-notable'" routerLinkActive="selected">New and Notable</a>
      <span *ngIf="authService.currentUser"> |
        <a href="#" [routerLink]="'favorites'" routerLinkActive="selected">Favorites</a>
      </span>
    </h2>
  </div>
</div>
<router-outlet></router-outlet>
