


p {
  text-align: center;
}


.grid {
  margin-top: 20px;
  display: grid;
  grid-template-areas: "one one two two";
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.grid > div {
  border: 1px solid rgba(100, 100, 100, 0.6);
  background-color: rgba(100, 100, 100, 0.3);
  position: relative;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid > div.description {
  background: linear-gradient(45deg,green, lightgreen);
  /*background: rgba(21, 121, 21, .5) url('https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/10599631_827396027296311_1701181476727152440_n.jpg?_nc_cat=0&oh=08219b5473be37950b5c218620318ba8&oe=5BD56794');*/
  background-position: 0% 30%;
  /*background-color: ;*/
  opacity: .7;
  border-radius: 5px;
  border: none;
  font-size: 40px;
  display: flex;
  align-items: center;
  position: relative;
  color: white;
}

.grid > div.description:nth-child(1) {
  /*background: rgba(21, 121, 21, .5) url('https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/10384341_818373231995_1523478722064955081_n.jpg?_nc_cat=0&oh=d9fcf0556439396069b3b426306ea7b5&oe=5BD5F3DC');*/

}

.grid > div.description h3 {
  position: absolute;
  color: white;
  top: 0;
  margin: 0px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 7vw;
  line-height: 5vw;
}

.brand {
  color: white;
}

.demo {
  /*visibility: hidden;*/
  margin-top: -5px;
  font-size: 5vw;
  text-transform: none;
}


/*.caption {*/
  /*position: absolute;*/
  /*bottom: 0;*/
  /*color: black;*/
  /*text-align: center;*/
  /*font-size: 3vw;*/
  /*line-height: 3vw;*/
  /*margin: 0;*/
  /*width: 100%;*/
/*}*/


